rule_files:
  - /etc/prometheus/alerts/test_alert.rules

scrape_configs:
  - job_name: 'redis'
    scrape_interval: 5s
    scrape_timeout: 4s
    static_configs:
      - targets: ['redis_exporter:9121']

