global:

# The root route on which each incoming alert enters.
route:
  receiver: std-receiver

  # # The child route trees. Not used at the moment.
  # routes:

receivers:
- name: std-receiver
  opsgenie_configs:
  - api_key: 'abc'

