global:

# templates:
#   - /etc/alertmanager/alertmanager_template.tmpl

# The root route on which each incoming alert enters.
route:
  # receiver: alertreceiver
  #
  # # The child route trees. Not used at the moment.
  # routes:

# receivers:
# - name: alertreceiver
#   webhook_configs:
#     - url: 'http://alertreceiver:9900/alert'
    # - url: 'http://alertreceiver/abc/{{ .GroupLabels.alertname }}'
    # - url: 'http://alertreceiver/foo/{{ template "webhook.url" . }}'
    # - url: "http://alertreceiver/abc/{{ .GroupLabels.alertname }}"
    # - url: "http://alertreceiver/abc/{{ .GroupLabels.alertname }}"
